In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [38]:
dataset=pd.read_csv('heart_failure_clinical_records_dataset.csv')
dataset

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [39]:
dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [40]:
x=dataset.iloc[:, 0:-1].values
y=dataset.iloc[:, -1].values

In [41]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=100)

In [43]:
knn_model=KNeighborsClassifier()
knn_model.fit(x_train,y_train)

KNeighborsClassifier()

In [44]:
pred=knn_model.predict(x_test)

In [45]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.64      0.69      0.67        39
           1       0.33      0.29      0.31        21

    accuracy                           0.55        60
   macro avg       0.49      0.49      0.49        60
weighted avg       0.53      0.55      0.54        60

In [46]:
print(confusion_matrix(y_test,pred))

[[27 12]
 [15  6]]

In [47]:
params = {
    'n_neighbors': range(1,30,2),
    'metric': ['cosine', 'euclidean','manhattan'],
    'weights':['uniform','distance']
    
}

In [48]:
gridsearch=GridSearchCV(
    KNeighborsClassifier(),
    params,
    verbose= 3,
    cv= 2,  
    n_jobs= -1
)

In [49]:
gridsearch_result=gridsearch.fit(x_train,y_train)

Fitting 2 folds for each of 90 candidates, totalling 180 fits

In [50]:
gridsearch_result.best_score_

0.7908613445378152

In [51]:
gridsearch_result.best_estimator_

KNeighborsClassifier(metric='cosine')

In [52]:
gridsearch_result.best_params_

{'metric': 'cosine', 'n_neighbors': 5, 'weights': 'uniform'}

In [53]:
final_model=knn_model.set_params(**gridsearch_result.best_params_)
final_model.fit(x_train,y_train)
y_pred=final_model.predict(x_test)

In [54]:
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(gridsearch_result.best_params_)

              precision    recall  f1-score   support

           0       0.68      0.82      0.74        39
           1       0.46      0.29      0.35        21

    accuracy                           0.63        60
   macro avg       0.57      0.55      0.55        60
weighted avg       0.60      0.63      0.61        60

[[32  7]
 [15  6]]
{'metric': 'cosine', 'n_neighbors': 5, 'weights': 'uniform'}